## Linux

# Temporary files
*~

## macOS

# Files created by macOS Finder
.DS_Store

## Marp, Pandoc and weasyprint

# Outputs
*.html
*.pdf

# Examples
!/docs/99-examples/*.html
!/docs/98-course-evaluation/2024-semester-2/*.pdf

## Windows

# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

.cache
